 <mat-toolbar class="custom-toolbar">
    <button mat-button routerLink="/movies">Movies</button>
    <button mat-button routerLink="/profile">Profile</button>
    <button mat-button (click)="onViewSource()">View Source</button>
  <button mat-button (click)="onLogout()">Logout</button>
 </mat-toolbar>

 <div class="movie-cards-container">
   
  <mat-card *ngFor="let movie of movies;" class="movie-card">
    
    <mat-card-title><h3>{{movie.title}}</h3></mat-card-title>
    
    <img class="image" src={{movie.imagePath}} alt= {{movie.title}} />
    
    <mat-card-actions>
      
      <button
        mat-button
	(click)="openSingleMovieDialog(movie)"
      >
	<mat-icon>more_horiz</mat-icon>
      </button>
      
      <button
        mat-button
	class="custom-buttons"
	(click)="openGenreDialog(movie.genre)"
        >
	<h4>Genre</h4>
      </button>
      
      <button
        mat-button
	class="custom-buttons"
	(click)="openDirectorDialog(movie.director)"
        >
	<h4>Director</h4>
      </button>

      <!-- added <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> to index.html to make this work -->
      <button
        mat-button
	(click)="toggleFavorite(movie._id)"
	>
	<div *ngIf="user">
	  <div *ngIf="!user.favoriteMovies.includes(movie._id)">
	    <mat-icon style="color: #E23855;">favorite_border</mat-icon>
	  </div>
	  <div *ngIf="user.favoriteMovies.includes(movie._id)">
	    <mat-icon style="color: #E23855;">favorite</mat-icon>
	  </div>
	</div>
	
      </button>

    </mat-card-actions>
    
  </mat-card>
</div>
