<div class="movie-cards-container">
  
  <mat-card *ngFor="let movie of movies;" class="movie-card">
    
    <mat-card-title><h3>{{movie.title}}</h3></mat-card-title>
    
    <img class="image" src={{movie.imagePath}} alt= {{movie.title}} />
    
    <mat-card-actions>
      
      <button
        mat-button
	(click)="openSingleMovieDialog(movie)"
      >
	<mat-icon>more_horiz</mat-icon>
      </button>
      
      <button
        mat-button
	class="custom-buttons"
	(click)="openGenreDialog(movie.genre)"
        >
	<h4>Genre</h4>
      </button>
      
      <button
        mat-button
	class="custom-buttons"
	(click)="openDirectorDialog(movie.director)"
        >
	<h4>Director</h4>
      </button>

      <!-- added <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> to index.html to make this work -->
      <button
        mat-button
	>
	<mat-icon>favorite_border</mat-icon>
      </button>

    </mat-card-actions>
    
  </mat-card>
</div>
